<h2>List of events available</h2>

<table st-table="listOfEvents" class="table table-striped">
    <thead>
        <tr>
            <th class="st-sort-primary" st-sort="sport">Sport</th>
            <th class="st-sort-primary" st-sort="group">Group</th>
            <th class="st-sort-primary" st-sort="country">Country</th>
            <th class="st-sort-primary" st-sort="homeName">Home Team</th>
            <th class="st-sort-primary" st-sort="awayName">Away Team</th>
            <th class="st-sort-primary" st-sort="state">state</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in listOfEvents">
            <td>{{event.sport}}</td>
            <td>{{event.group}}</td>
            <td>{{event.country}}</td>
            <td>{{event.homeName}}</td>
            <td>{{event.awayName}}</td>
            <td>{{event.state}}</td>
        </tr>
    </tbody>
    <tfoot>
    </tfoot>
</table>